<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Qué ofrecemos</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IoT y telegestión</h4>
                    <p class="text-muted">Diseño e instalación de sistemas y redes de IoT (Internet of Things) de la más última tecnología de calidad en código y hardware abiertos en los ámbitos de gestión y control del agua y otros recursos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asesoramiento</h4>
                    <p class="text-muted">Asesoramiento tanto científicotécnico como en gestión de proyectos sobre isla inteligente y su implementación y gestión.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Formación</h4>
                    <p class="text-muted">Cursos y formación adaptada al cliente siempre con el trasfondo de código abierto, optimización de recursos, economia local y circular y fines medioambientales. <a href="/img/cursos.pdf" target="_blank">Aquí</a> documento cursos</p>
                </div>
            </div>
        </div>
    </section>
